.menu div, .BgColor { background-color: #659cd2; }
.Color { color: #659cd2; }
.Body { background: url(Images/bggradient.jpg) #fff repeat-x 50% top; }
.BDiv { background: url(Images/bgheader.jpg) no-repeat right top; }
.Header { color: #FFFFFF; }
.BorderColor { border-color: #659cd2; }
.Selected { font-weight: bold; background-color: #DDDDDD; }
.Alternating { background-color: #EAEAEA; }
.gv th { border-style: solid; border-width: 1px 1px 5px 1px; border-color: #666666; font-weight: bold; }
.gv td { border: 1px solid black; }
.gvFooter { border-style: solid; border-width: 5px 1px 1px 1px; border-color: #666666; font-weight: bold; }