.LoginBox { border-radius: 5px; border: 1px; border-style: solid; margin: 100px auto auto auto; }
.FullWidth { width: 100%; }
.HalfWidth { width: 50%; }
.Width33 { width: 33.3%; }
.Width25 { width: 25%; }
.Bold { font-weight: bold; }
.Normal { font-weight: normal; }
.Italic { font-style: italic; }
.Left { text-align: left; }
.Right { text-align: right; }
.Top { vertical-align: top; }
.Middle { vertical-align: middle; }
.NoWrap { white-space: nowrap; }
.Selected { background-color: #DDDDDD; }
.Caption { width: 100%; text-align: center; font-weight: bold; }
.Center { text-align: center; }
.MarginAuto { margin: auto; }
.Table { font-size: inherit; border-collapse: collapse; width: 100%; }
.Table Caption { text-align: center; font-weight: bold; }
.Table th { border: 1px solid #C0C0C0; font-weight: bold; padding: 2px; text-align: inherit; }
.Table td { border: 1px solid #C0C0C0; font-weight: normal; padding: 2px; }
.TableNoWidth { font-size: inherit; border-collapse: collapse; }
.TableNoWidth Caption { text-align: center; font-weight: bold; }
.TableNoWidth th { border: 1px solid #C0C0C0; font-weight: bold; padding: 2px; text-align: inherit; }
.TableNoWidth td { border: 1px solid #C0C0C0; font-weight: normal; padding: 2px; }
.Button { border: 1px solid #000000; margin-left: 2px; font-weight: bold; padding: 1px 2px 1px 2px; }
.TextBox { border-radius: 5px; padding: 0px; border-style: solid; border-width: 2px; vertical-align: top; }
textarea { resize: none; }
.NoBorder { border-style: none; }
.Border { border-style: solid; border-width: 1px; }
.a, .a:link, .a:visited, .a:active, .a:hover { font-family: inherit; font-size: inherit; font-weight: bold; color: #0066DD; text-decoration: none; cursor: pointer; }
.a:active, .a:hover { color: #FF6600; text-decoration: underline; }
.HighlightError { background-color: #FFCCFF; }
.Upper { text-transform: uppercase; }
.Red { background-color: #FFD7D7; }
.YellowBG { background-color: Yellow; }
.Scrollbar { scrollbar-3dlight-color: #26221F; scrollbar-arrow-color: #26221F; scrollbar-base-color: #2C2925; scrollbar-darkshadow-color: #26221F; scrollbar-face-color: #26221F; scrollbar-highlight-color: #2C2925; scrollbar-shadow-color: #2C2925; }
.SortAsc { background-image: url('Images/asc.png'); background-repeat: no-repeat; background-position: right center; padding-right: 18px; }
.SortDesc { background-image: url('Images/desc.png'); background-repeat: no-repeat; background-position: right center; padding-right: 18px; }
div legend { font-weight: bold; color: #0000FF; }
.PadR2 { padding-right: 2px; }
#ctl00_QAHomeHL:hover { cursor: default; background-color: none; }
#ctl00_PersonalInfoHL:hover { cursor: default; background-color: none; }