.Body { margin: 0px; padding-bottom: 0px; padding-top: 0px; line-height: 125%; font-family: 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif; color: #333333; }
.BDiv { font-family: inherit; padding: 0px; min-width: 1100px; overflow: visible; }
.DTable { border-collapse: collapse; width: 100%; }
.Logo { padding: 0px 0px 0px 14px; vertical-align: bottom; }
.Title { padding: 0px 0px 0px 10px; height: 47px; font-size: 25px; color: inherit; white-space: nowrap; }
.AccTd { vertical-align: top; width: 100%; }
.Acc { font-size: 12px; color: inherit; text-align: right; vertical-align: top; padding: 5px 16px 0px 0px; white-space: nowrap; height: 20PX; }
.Acc div a { text-decoration: none; font-size: inherit; color: #FFFFFF; }
.Acc div a:link { color: inherit; }
.Acc div a:visited { color: inherit; }
.Acc div a:hover { color: inherit; text-decoration: underline; }
.Acc div a:active { color: inherit; }
.MLC { height: 23px; min-height: 23px; max-height: 23px; width: 100%; padding: 0px 0px 0px 14px; background-image: url('Images/menubg.png'); }
.MCC { background-position: -8px 0px; width: 6px; max-width: 6px; min-width: 6px; padding: 0px; background-image: url('Images/menubg.png'); background-repeat: no-repeat; }
.BU { float: right; font-weight: bold; margin-right: 2px; }
.MRC { width: 10px; min-width: 10px; max-width: 10px; padding: 0px; background-image: url('Images/cpr.png'); background-repeat: repeat-y; background-position: right top; }
.BLC { height: 768px; width: 19px; min-width: 19px; max-width: 19px; padding: 0px; background: url('Images/cpl.png') repeat-y left top; }
.BCC { background: url('Images/cpbg.png') repeat-x 50% top; vertical-align: top; padding: 0px 1px 1px 1px; font-size: 12px; width: 100%; }
.BRC { width: 20px; min-width: 20px; max-width: 20px; padding: 0px; background: url('Images/cpr.png') repeat-y right top; }
.PTitle { color: #000000; font-size: 16px; width: 100%; text-align: center; font-weight: bold; padding: 5px 0px 8px 0px; }
.BotLC { background: url('Images/cp.png') no-repeat 0px -17px; height: 21px; }
.BotRC { background: url('Images/cp.png') no-repeat 100% -17px; width: 20px; min-width: 20px; max-width: 20px; height: 21px; }
.CR { font-weight: normal; padding-bottom: 12px; padding-left: 8px; padding-right: 10px; font-size: 12px; padding-top: 6px; text-align: left; }
.EIcon { background-position: 1px; width: 22px; float: left; background-image: url('Images/Error.png'); background-repeat: no-repeat; }
.SIcon { background-position: 1px; width: 22px; height: 16px; float: left; background-image: url('Images/Success.gif'); background-repeat: no-repeat; }
.WIcon { background-position: 1px; width: 22px; float: left; background-image: url('Images/Warning.gif'); background-repeat: no-repeat; }
.M { padding: 0px 0px 0px 0px; }
.EPanel, .WPanel, .SPanel { padding: 2px; margin-bottom: 5px; background-color: #F8F8F8; text-align: left; border-width: 1px; border-style: solid; }
.EPanel { border-color: #FF0000; color: #FF0000; }
.WPanel { border-color: #FFFF00; color: #000000; }
.SPanel { border-color: #008000; color: #008000; }