body {
  background-color: white;
  margin: 0px;
  color:  rgb(48, 57, 66);
  font-family: 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif;

}
#wrapper {
  margin: 0px;
  width: 220px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  max-height: 600px;
}
.separator {
  width: 100%;
  border-top: 2px groove white;
  margin: 5px -5px 5px -3px;
}
.menu-entry {
  padding: 2px;
  cursor: pointer;
}
.menu-entry:hover {
  -webkit-transition: all 0.3s ease-out;
  background:#D2E3F2;
}
#titletext {
  position:relative;
  text-align: center;
}

.img1 { z-index: 1; } 
.img2 { z-index: 3; } 

.header {
  font-weight: bold;
  color: white;
  float:left; position:absolute; top:20px; right: 20px
}
a {
  color: #4D7BD6;
  text-decoration: none;
}
a:focus {
  outline: none;
}
#img{
  max-width: 100%;
  max-height: 100%;
}